

<div *ngIf="questions.length != 0 else noQuestions" class="qaFeed" >

<div class="jumbotron">

  <!-- Button to Open the Modal -->
<button type="button" class="btn circleBtn btn-primary" data-toggle="modal" data-target="#myModal">
    <h1 style="font-weight:bold">+</h1>
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Start A New Discussion</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <label for="title"></label>
                <input type="text" class="form-control" id="usr" placeholder="Title of the discussion"><br>
                <textarea class="form-control" rows="5" id="comment" placeholder="Description"></textarea>
              </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Post</button>
        </div>

      </div>
    </div>
  </div>


  <div class="text-center">
    <h1>Semester {{sem}}</h1>
    <div class="btn-group">

        <button type="button" class="btn btn-success">Change Semester</button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="../1">1st</a>
          <a class="dropdown-item" routerLink="../2">2nd</a>
          <a class="dropdown-item" class="dropdown-item" routerLink="../3">3rd</a>
          <a class="dropdown-item" routerLink="../4">4th</a>
          <a class="dropdown-item" class="dropdown-item" routerLink="../5">5th</a>
          <a class="dropdown-item" class="dropdown-item" routerLink="../6">6th</a>
          <a class="dropdown-item" class="dropdown-item" routerLink="../7">7th</a>
          <a class="dropdown-item" class="dropdown-item" routerLink="../8">8th</a>
        </div>
      </div>

  </div>
</div>

<!-- <ng-template #noQuestions>
  <div style="margin-left: 35vw; margin-top:20vw" class="loader loader2 "></div>
 </ng-template> -->


<!-- <div *ngIf="questions.length != 0 else noQuestions"> -->

  <div *ngFor="let question of questions">
  <div class="card " #questionCard>
      <!-- <div class="card-header">
        <div class="row"> -->
          <!-- <div class="col-md-1">
              <span><img class="roundImg" [src] = expertIdExpertMap[post.eid].photoUrl></span>

          </div> -->
          <!-- <div class="col-md-12 questionTitle"> -->
              <!-- <a  [routerLink]="['/expert/', expertIdExpertMap[post.eid].id]" >{{expertIdExpertMap[post.eid].fname + " " + expertIdExpertMap[post.eid].lname}}</a> -->
              <!-- <h5>{{question.text}}</h5> -->

          <!-- </div>
        </div>
      </div> -->

      <div class="card-body postCardContent" >
        <h5 [innerText]=question.text></h5>
        <p class="text-muted">{{question.description}}</p>
        <span class="tags" *ngFor="let tag of question.tags">
          {{tag}}
        </span>
        <br>
        <div style="margin-top:40px;">
          <span >
          <p style="display:inline">{{question.answerCount}} Answers </p>

          <p style="display:inline; margin-left:20px" >{{question.followerCount}} Followers</p>

          <button class="btn secondaryBg " style="float:right;display:inline">Follow This Question</button>
        </span>

        </div>
        <div class="text-center">
          <button style="margin-bottom:-75px" class="btn primaryBg readAnsBtn" (click) = "navigateToAnswers(question.id, question.text)">See More</button>
        </div>
      </div>









    </div>
    <br><br>
    </div>
 </div>


 <ng-template #noQuestions>
  <div style="margin-left: 35vw; margin-top:20vw" class="loader loader2 "></div>
 </ng-template>

  <!-- <div *ngIf="questions.length == 0 ">
    <div class="card">
      <div class="card-body">
        <h5 class="text-muted text-center">oops! there are no posts to show</h5>
      </div>
    </div>
  </div> -->

