<div class=" list-group sidenav w-100 ">
  <h2 style="margin-top:30px; padding:20px; color:white; font-weight:bold;" class="secondaryBg">Discussions</h2>

  <a routerLinkActive="active" routerLink="/discussions/IT/1" class="list-group-item indigo-bg text-center">IT</a>
  <a routerLinkActive="active" routerLink="/discussions/CSE/1" class="list-group-item text-center">CSE</a>
  <a routerLinkActive="active" routerLink="/discussions/ECE/1" class="list-group-item text-center">ECE</a>
  <a routerLinkActive="active" routerLink="/discussions/EEE/1" class="list-group-item text-center">EEE</a>

</div>
<!-- <aside class="px-0 fixed-top" id="left">

  <div class="list-group w-100">
      <a href="#" class="list-group-item active">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
  </div>

</aside> -->
